<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="service" source="me.service.name"/>
    <springProperty scope="local" name="level" source="me.logging.level" defaultValue="INFO"/>
    <springProperty scope="local" name="appender" source="me.logging.appender" defaultValue="CONSOLE"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="LOGSTASH_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
                <timestamp>[ignore]</timestamp>
            </fieldNames>
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                <pattern>
                    {
                    "timestamp_app": "%d{yyyy-MM-dd HH:mm:ss.SSS}"
                    }
                </pattern>
            </provider>
        </encoder>
    </appender>

    <root level="${level}">
        <appender-ref ref="${appender}"/>
    </root>

    <logger name="com.me.challenge" level="DEBUG"/>

</configuration>
